#These directories will be ignored while committing, check git status
out/
.idea/
*.iml
*.ipr
*.iws
.idea/*
.DS_Store
.settings/
.svn/
*.log
.classpath
.settings
.gradle/
build/
dist/
docs/
log/
nbproject/
#test/
bin/
.externalToolBuilders/
gradle/
logs/
.settings/*
.project
allbackup/
gradle.properties
